# Raw data files
data/raw
raw-cases

# Environment Variables
.env

# Virtual environment
.venv
issues.csv

# misc
.DS_Store
data/prediction_data/issues.json
*.pt
Unusable Files.csv
final_coram_data.csv
